@font-face {
  font-family: 'UTMCookies';
  src: url('/assets/fonts/UTM COOKIES.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nabila';
  src: url('/assets/fonts/Nabila.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
}


